.navbar-brand {
    background :grey;

}
.button{
    color: indianred;
}
#h1{
    color:lightsteelblue;
    
    text-decoration-line: underline;
}
#exampleInputEmail1{
background: powderblue;

}

#exampleInputPassword1{
    background: lightsteelblue;
}

#emailHelp{
    background: lightpink;
}


